.ct-page {
	padding: 0;
	flex: 1;
}

// 暂时隐藏tabbar
.uni-tabbar {
	display: none!important;
}

body {
	background: #f0f0ee;
	
	&.pages-login-login {
		background: #fff;
	}
}

.ct-lab-item {
	display: flex;
	justify-content: space-between;
	
	&__button {
		flex: 0 0 140rpx
	}
	
	&__status {
		flex: 0 0 140rpx;
		text-align: right;
		
		&--wait {
			color: #007AFF;
		}
		
		&--done {
			color: #4CD964;
		}
	}
	
	&__text {
		flex: 1;
		text-align: left;
	}
	
	&__type {
		flex: 0 0 80rpx;
		
		&--long {
			flex: 0 0 130rpx;
		}
	}
}
// 重写样式
.van-field__control {
	line-height: 26px;
}

.text-center {
	text-align: center;
}

.big-button {
	width: 100%;
	padding: 0 20rpx;
}

.text-red {
	color: #f44;
}

.ct-block-details {
  color: #333;

  &__title {
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
  }
}

.ct-item-block {
  display: flex;
  align-items: flex-start;
  margin-top: 8px;


  &__title {
    color: red;
    min-width: 4em;
  }

  &__content {
    & > span {
      display: block;
    }
  }
}

.ct-table {
  width: 100%;

  tbody > tr {
    border-bottom: 1px solid #eee;

    & > td {
      line-height: 24px;
    }
  }

  & + h4 {
    margin-top: 20px;
  }
}

.ct-content {
  padding: 0 12rpx;
}

.btn-containers {
	display: flex;
	justify-content: space-between;
	
	&>.btn-block {
		flex: 0 0 30%;
		&--half {
			flex: 0 0 45%;
		}
	}
}

.gray-btn.van-button {
  background: #eee;
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 12px;
  width: 100%;
  padding: 0;

  &.gray-btn--green {
    background: #07c160;
    color: #fff;
  }

  &.gray-btn--red {
    background: #f44;
    color: #fff;
  }
}

/* #ifdef MP-WEIXIN */
.gray-btn {
	
	.van-button {
		background: #eee;
		height: 1.5rem;
		line-height: 1.5rem;
		font-size: 12px;
		width: 100%;
		padding: 0;
	}

  &.gray-btn--green {
		.van-button {
			background: #07c160;
			color: #fff;
		}
  }

  &.gray-btn--red {
		.van-button {
			background: #f44;
			color: #fff;
		}
  }
}
/* #endif */

.ct-box {
  background: #fff;

  &__header {
    border-top: 2px solid #f44;
    padding: 0 10px;
    line-height: 40px;
    color: #f44;
		font-size: 16px;
  }
}

.mt-medium {
	margin-top: 20rpx;
}

.mb-large {
	margin-bottom: 40rpx;
}

.mt-small {
	margin-top: 10px;
}

.page {
	background-color: #f7f9f8;
}

.readonly-textarea {
	.van-field__control[readonly] {
		background: #eee;
		padding: 0 10rpx;
	}
}

.load-more-btn {
	text-align: center;
	font-size: 12px;
	color: #999;
	line-height: 56upx;
}

.p-0 {
	padding: 0;
}

.has-no-border .van-cell {
	&:after {
		content: none;
	}
}

.bottom-btn-container {
	padding: 0 40upx;
}

.ct-navbar {
	background: #3d3a4f;
	color: #fff;
	
	&:after {
		content: none;
	}
	
	&.van-nav-bar {
		height: 44px;
		
		.van-icon {
			color: #fff;
		}
	}
	
	.van-nav-bar__title {
		color: #fff;
		font-weight: 700;
		font-size: 16px;
		line-height: 44px;
	}
}

// 首页顶部导航
.ct-top-container {
	background-color: #3d3a4f;
	box-shadow: 2px 0 3px #eee;
	margin-top: 44px;
}

.ct-top-enter {
	display: flex;
	justify-content: space-around;
	padding: 20px 0 0;
	
	&__img {
		display: inline-block;
		width: 52px;
		height: 52px;
		border-radius: 50%;
		text-align: center;
		line-height: 62px;
		
		img {
			width: 26px;
		}
		
		&--bg1 {
			background-color: #7a6ff3;
		}
		&--bg2 {
			background-color: #0ecec7;
		}
		&--bg3 {
			background-color: #33c492;
		}
		&--bg4 {
			background-color: #6681d4;
		}
	}
	
	&__title {
		margin-top: 10px;
		color: #bfbfbf;
		font-size: 14px;
		text-align: center;
	}
}
// 登录人员状态
.ct-user-status {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	background-color: #fff;
	height: 44px;
	line-height: 44px;
	color: #bfbfbf;
	font-size: 14px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	padding: 0 10px;
	
	&__role {
		.van-icon {
			vertical-align: sub;
			padding: 0 5px;
		}
	}
	
	
	&__calendar {
		img {
			width: 18px;
			margin: 0 5px;
			vertical-align: sub;
		}
	}
}

.ct-block {
	
	&__container {
		margin-top: 10px;
		background-color: #fff;
		padding: 10px;
	}
	
	&__title {
		font-size: 14px;
		color: #666;
		
		img {
			width: 14px;
			vertical-align: sub;
			margin-right: 5px;
		}
	}
}

.ct-todo-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 10px;
	
	&__item {
		flex: 0 0 50%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin: 10px 0 15px;
		
		&__content {
			flex: 1;
			font-size: 14px;
		}
		
		&__icon {
			flex: 0 0 20%;
			text-align: center;
			
			img {
				width: 14px;
			}
		}
		
		&__number {
			border-left: 1px solid #eee;
			line-height: 22px;
			color: #333;
			padding: 0 8px;
		}
		
		&__unit {
			font-size: 12px;
			color: #666;
			margin-left: 5px;
		}
		
		&__info {
			margin-top: 4px;
		}
		
	}
}

.ct-notice-list {
	margin-top: 15px;
	min-height: 180px;
	
	&__item {
		display: flex;
		justify-content: space-between;
		font-size: 12px;
		line-height: 36px;
		
		&__text {
			flex: 1;
			min-width: 0;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		
		&__time {
			flex: 0 0 8em;
			text-align: right;
		}
		
		&--border {
			border-bottom: 1px solid #eee;
		}
	}
}

// 搜索框重写
.ct-search {
	margin-top: 6px;
	
	&.van-search {
		padding: 0;
		border-radius: 8px;
		
		.van-search__content {
			background: #575466;
			border-radius: 8px;
		}
		
		.van-cell {
			padding: 3px 10px 3px 0;
		}
		
		.van-field__control {
			color: #fff;
		}
	}
}

.ct-filter-bar {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #eee;
	
	&__item {
		flex: 0 0 50%;
		line-height: 34px;
		font-size: 12px;
		color: #666;
		text-align: center;
		
		img {
			width: 12px;
			vertical-align: middle;
			margin-left: 3px;
		}
	}
}

.ct-search-list {
	padding: 0 10px;
}

.ct-search-item {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 10px 0;
	
	&:not(:last-child) {
		border-bottom: 1px solid #eee;
	}
	
	&__text {
		font-size: 14px;
		color: #333;
		line-height: 24px;
	}
	
	&__info {
		font-size: 12px;
		color: #666;
	}
	
	&__grade {
		font-size: 12px;
		color: #666;
		line-height: 24px;
	}
}

.ct-notice-details {
	&__container {
		margin-top: 44px;
		background: #fff;
		padding: 10px;
	}
	
	&__title {
		font-size: 20px;
		text-align: center;
	}
	
	&__info {
		text-align: center;
		font-size: 14px;
		line-height: 24px;
		color: #999;
		margin-top: 10px;
		border-bottom: 1px solid #eee;
		margin-bottom: 10px;
	}
}